.new-tweet{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
 
}

#tweet-text{
  width: 100%;
  border: none;
  outline: none;
  resize:none;
  border-bottom: black;
  border-bottom-style: solid;
  background-color: #f4f1ec;
  height: 40px;
  
}
.tweetbutton{
  background-color: #4056A1;
  color:white;
  font-family: 'Bungee', cursive ,sans-serif;

}
.newtweet{
  display: flex;
  justify-content: space-between;
}