.new-tweet{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;
  width:100%;
}

#tweet-text{
  width: 100%;
  border: none;
  outline: none;
  resize:none;
  border-bottom: black;
  border-bottom-style: solid;
  background-color: #f4f1ec;
  height: 40px;
  width:100%;
}
.tweetbutton{
  background-color: #4056A1;
  color:white;
  font-family: 'Bungee', cursive ,sans-serif;

}
.newtweet{
  display: flex;
  justify-content: space-between;
}
.error-empty{
  background: #f4f1ec;
  color:red !important;
  border: 6px solid red!important; 
}

.error-long{
  background: #f4f1ec ;
  color:red !important;
  border: 6px solid red!important; 
}